<div class="container">
  <div class="card mb-3 shadow ">
    <div class="row g-0">
      <div class="col-md-6" id="mapa">
        <agm-map [latitude]="myHouse?.lat!" [longitude]="myHouse?.long!" [zoom]="12"[mapTypeId]="'terrain'">
          <agm-marker [latitude]="myHouse?.lat!" [longitude]="myHouse?.long!"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <figure>
            <img class="img-fluid" [src]="myHouse?.foto">
          </figure>
          <h3 class="card-title"></h3>
          <p class="card-text"><strong>Dirección</strong> {{ myHouse?.direccion}}</p>
          <p class="card-text"><strong>Ciudad</strong> {{ myHouse?.ciudad}} </p>
          <p class="card-text"><strong>Número de habitaciones</strong> {{ myHouse?.numerohabitaciones}}</p>
          <p class="card-text"><small class="text-muted"></small> {{ myHouse?.propietario}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
