<section class="container">
  <form #registerHouse="ngForm" (ngSubmit)="onSubmit(registerHouse)">

    <div class="formGroup">
      <label for="titulo">Titulo</label>
      <input type="text" class="form-control" [(ngModel)]="houseUpdate.titulo" name="titulo" id="titulo">
    </div>

    <div class="formGroup">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" [(ngModel)]="houseUpdate.direccion" name="direccion" id="direccion">
    </div>

    <div class="formGroup">
      
      <select name="ciudad" [(ngModel)]="houseUpdate.ciudad" class="form-select mt-3" id="ciudad">
        <option value="" selected>Selecciona una ciudad</option>
        <option value="Madrid">Madrid</option>
        <option value="Valencia">Valencia</option>
        <option value="Granada">Granada</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Coruña">Coruña</option>
        <option value="Sevilla">Sevilla</option>
        <option value="Valladolid">Valladolid</option>
      </select>
    </div>


    <div class="formGroup">
      <label for="numerohabitaciones">Numero de habitaciones</label>
      <input type="number" class="form-control" [(ngModel)]="houseUpdate.numerohabitaciones" name="numerohabitaciones" id="numerohabitaciones">
    </div>


    <div class="formGroup">
      <label for="propietario">Propietario</label>
      <input type="text" class="form-control" [(ngModel)]="houseUpdate.propietario" name="propietario" id="propietario">
    </div>

    <div class="formGroup">
      <label for="foto">Fotografía</label>
      <input type="text" class="form-control" [(ngModel)]="houseUpdate.foto" name="foto" id="foto">
    </div>

    <div class="row mb-4">
      <div class="formGroup col-6">
        <label for="lat">Latitud</label>
        <input type="number" class="form-control" [(ngModel)]="houseUpdate.lat" name="lat" id="lat">
      </div>
      <div class="formGroup col-6">
        <label for="lat">Longitud</label>
        <input type="number" class="form-control" [(ngModel)]="houseUpdate.long" name="long" id="long">
      </div>

    </div>

    <input class="btn btn-danger" type="submit" valu="Alquilar">



  </form>
</section>
